.itemContainer {
  display: flex;
  flex-wrap: wrap;
}

input[type='text'] {
  width: 30%;
  height: 30px;
  padding: 1px 2px;
  font-size: 16px;
  font-family: Raleway, sans-serif;
  color: grey;
  outline: none;
  margin-bottom: 10px;
  border: 1px solid silver;
  -webkit-appearance: none;
  border-radius: 0;
}

.shopNoResults {
  margin: 20px 15px;
}

.shopHeader {
  margin-left: 10px;
}

@media only screen and (max-width: 500px) {
  input[type='text'] {
    width: 90%;
  }

  .itemContainer {
    justify-content: center;
  }
}
